body{
    
    background-color: #20736f;
    font-family: Arial, sans-serif;
   
}
input[num1], input[num2]{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    font-size: 16px;
    cursor: text;
}
button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: #112f2e;
    color: #132534;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#main{
    color : #ffffff;
    background-color: #102a2b;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;    
}
