<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <title>Chat with AI</title>
</head>
<body>
    <div id="main">
        <h1 >Chat with AI</h1>
        <form method="POST" >
            <input type="text" name="user_input" id="user_input" placeholder="Type your message here..." required>
            <button type="submit" id="submit">Send</button>
            {% if submitted == "submitted" %}
              <div id="loader2"></div>
              <div id="loader"></div>
            {% endif %}
            <p id="user">{{ user_input }}</p>
        </form>
        
        {% if response %}
            <p id="chat">{{ response }}</p>
        {% endif %}
        
    </div>
</body>
</html>